{% extends "base.html" %}

{% block body %}
<table class="table table-striped">
  <thead>
    <th>Number</th>
    <th>Name</th>
  </thead>
  <tbody>
    {% for TrackID, Number, Name in group %}
    <tr>
      <td>{{ Number }}</td>
      <td><a href="/track/{{ TrackID }}">{{ Name }}</a></td>
    </tr>
   {% end %}
  </tbody>
</table>
{% end %}
