{% extends "base.html" %}

{% block body %}
<div class="row">
  {% for ITEM_ID, ITEM_NAME, ITEM_IMAGE in group %}
  <div class="col-sm-3">
    <a href="/{{ prefix }}/{{ ITEM_ID }}" class="thumbnail text-center">
      <img src="{{ ITEM_IMAGE }}">
      <div class="caption">
        <h4>{{ ITEM_NAME }}</h4>
      </div>
    </a>
  </div>
  {% end %}
</div>
{% end %}

