{% extends "base.html" %}

{% block body %}
<p>
Welcome to <b>SearchIt</b>, a simple music database powered by <a
    href="http://www.tornadoweb.org/">Tornado</a> and <a
    href="http://www.sqlite.org/">SQLite</a>.
</p>
<p>
<b>Made by: Virginia Rhodes and Indi Jackson</b>
<img src="/image/logo.png">
</p>
{% end %}
