{% extends "base.html" %}

{% block body %}
{% for TRACK_ID, ARTIST_ID, ARTIST_NAME, ALBUM_NAME, ALBUM_ID, TRACK_NUMBER, TRACK_NAME in group %}
<dl>
    <dt>Track ID</dt>
    <dd>{{ TRACK_ID }}</dd>

    <dt>Artist</dt>
    <dd><a href="/artist/{{ ARTIST_ID }}">{{ ARTIST_NAME }}</a></dd>

    <dt>Album</dt>
    <dd><a href="/album/{{ ALBUM_ID }}">{{ ALBUM_NAME }}</a></dd>

    <dt>Track Number</dt>
    <dd>{{ TRACK_NUMBER }}</dd>

    <dt>Track Name</dt>
    <dd>{{ TRACK_NAME }}</dd>
</dl>

{% end %}
{% end %}
